.invalid-user-section{
  background-color: rgb(4, 9, 24);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}




.invalid-user-section .alert-info-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(28,37,65);
  background-color: rgb(12,19,45);
}

.invalid-user-section .alert-info-section .left-section{
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.invalid-user-section .alert-info-section .left-section > div{
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.invalid-user-section .alert-info-section .left-section > div h4{
  font-family: "Rowdies";
  font-size: 15px;
}

.invalid-user-section .alert-info-section .left-section > div p{
  font-size: 12px;
  color: gray;
  display: flex;
  column-gap: 15px;
}

.invalid-user-section .alert-info-section .left-section > div p span{
  padding: 5px 8px;
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.invalid-user-section .alert-info-section .middle-section,
.invalid-user-section .alert-info-section .right-section{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.invalid-user-section .alert-info-section .middle-section p,
.invalid-user-section .alert-info-section .right-section p{
  color: gray;
  font-size: 12px;
}

.invalid-user-section .alert-info-section .right-section .low{
  color: rgb(5, 182, 217);
}

.invalid-user-section .alert-info-section .right-section .medium{
  color: rgb(216, 195, 5);
}

.invalid-user-section .alert-info-section .right-section .high{
  color: rgb(214, 117, 6);
}

.invalid-user-section .alert-info-section .right-section .critical{
  color: rgb(221, 6, 6);
}
















.invalid-user-section .alert-target-details-section{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(28,37,65);
  background-color: rgb(12,19,45);
}

.invalid-user-section .alert-target-details-section > div{
  display: flex;
  column-gap: 10px;
  align-items: center;
  font-size: 12px;
}

.invalid-user-section .alert-target-details-section > div .icon{
  color: rgb(158, 3, 158);
  background-color: rgba(96, 3, 117, 0.404);
  padding: 7px;
  border-radius: 5px;
}

.invalid-user-section .alert-target-details-section > div h4{
  font-family: "Rowdies";
  font-size: 15px;
}

.invalid-user-section .alert-target-details-section > div div{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}













.invalid-user-section .alert-details-section{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(28,37,65);
  background-color: rgb(12,19,45);
}

.invalid-user-section .alert-details-section h4{
  font-family: "Rowdies";
  font-size: 15px;
}

.invalid-user-section .alert-details-section div{
  display: flex;
  gap: 20px;
  font-size: 13px;
  flex-wrap: wrap;
}

.invalid-user-section .alert-details-section div p{
  display: flex;
  column-gap: 10px;
  padding: 5px 10px;
  border: 1px solid gray;
  border-radius: 5px;
}














.invalid-user-section .summary-section{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid rgb(28,37,65);
  background-color: rgb(12,19,45);
}

.invalid-user-section .summary-section h4{
  font-family: "Rowdies";
  font-size: 15px;
}

.invalid-user-section .summary-section p{
  color: gray;
  font-size: 13px;
  line-height: 25px;
}













.invalid-user-section .status-section{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgb(28,37,65);
  background-color: rgb(12,19,45);
}

.invalid-user-section .status-section h4{
  font-family: "Rowdies";
  font-size: 15px;
}

.invalid-user-section .status-section select{
  outline: none;
  padding: 5px 10px 5px 5px;
  background-color: transparent;
  color: rgb(7, 234, 7);
  border: 2px solid rgb(12, 224, 12);
  border-radius: 5px;
}

.invalid-user-section .status-section select option{
  background-color: rgb(12,19,45);
}